<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatChat Password Reset</title>
</head>
<body>
    <h1>Hello! {{username}}</h1>
    <p style="font-size: 20px;">You are receiving this because you (or someone else) have requested the reset of the password for your account.</p>
    <p style="font-size: 20px;">Please click on the following link, or paste this into your browser to complete the process within 10 minutes of receiving it:<a href="">{{resetUrl}}</a>
    </p>
    <p style="font-size: 20px;">If you did not request this, please ignore this email and your password will remain unchanged.</p>
</body>
</html>
